@import "variables";
@media (max-width: 590px)
{
}
/*@media (max-width: 1024px)
{
	.pacmanContainer
 	{
 		align-items: flex-start;
 	}
}*/
 @media only screen and (orientation:landscape) and (max-width: 1024px)
 {
 }
 // responsive landscape with js
.pacmanLandscape
{
	flex-wrap: wrap;
	justify-content: center;
	max-height: 100vh;
 	.canvasContainer
 	{
		order: 2; 	
		height: 100%;
 	}
 	.ui
	{
		margin-top: 10px;
		order: 0;
	}
	.mobilePad
	{
		margin-bottom: 10px;
		order: 1;
	}
}