$font-title:  'Ubuntu', sans-serif;
$font-main: 'Raleway', sans-serif;

$color-dark: #40434e;
$color-light: #ffffff;
$color-cold: #909cc2;
$color-hot: #6d454c;
$color-middle: #ede19e;

$box-shadow: 3px 4px 3px rgba(0, 0, 80, .3);
